header {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.85;
  display: inline-flexbox;
}

.mdl-layout__header-row .header-phone {
  width: 100%;
}

header .header-phone h3 {
  width: 100%;
  text-align: right;
  font-family: "Zhi Mang Xing", cursive;
  color: white;
}
/*! ----------------------End of Header-------------------------- */
.landing-grid {
  /* background-image: url(./assets/logo.jpg); */
  background-color: white;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.title {
  background: #414345;
  opacity: 0.8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 0.7em;
}

.title h1 {
  font-family: "Zhi Mang Xing", cursive;
  text-align: center;
  color: white;
  text-shadow: black 1px 1px;
  font-size: 5em;
}

.title p {
  font-family: "Zhi Mang Xing", cursive;
  text-align: center;
  font-size: 2em;
}

.title a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  color: black;
}

.titleHome {
  /* background: #414345; */
  opacity: 0.8;
  width: 100%;
  height: 100px;
  margin-top: -130px;
  padding-bottom: 0.7em;
}

.titleHome p {
  font-family: "Zhi Mang Xing", cursive;
  text-align: center;
  font-size: 1.5em;
  margin-top: 32px;
}

.titleHome a {
  text-decoration: none;
  color: black;
  font-size: 5rem;
}

.titleHome a:hover {
  color: red;
}

button {
  width: 100%;
}
/*! ----------------------End of Landing Page------------------------*/

.secondary-grid {
  background: grey;
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}

.owners {
  width: 100%;
  height: fit-content;
  align-content: center;
}

.owners img {
  width: 99%;
  height: auto;
  border-radius: 20px;
}

.owners2 {
  width: 99%;
  height: fit-content;
  overflow-y: auto;
}

.owners2 p {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  padding: 10px;
  line-height: 2em;
  text-align: center;
  font-family: "Zhi Mang Xing", cursive;
}

#newriver {
  color: aqua;
}

.gear1,
.gear2,
.gear3 {
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin: auto;
}

.gear1 img,
.gear2 img,
.gear3 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  transform: rotate(90deg);
}

.logo {
  height: 100vh;
  width: 100%;
  margin-top: -10vh;
}

#mobileLogo {
  height: 50vh;
  margin-bottom: 20px;
  margin-top: -50px;
}

.mobileMenuHome a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo img {
  height: 100%;
  width: 100%;
}

.logo2 {
  height: 75vh;
  width: 98%;
}

.logo2 img {
  height: 100%;
  width: 100%;
}

/*! -----------------------------------------------------------------*/

.menu {
  background-color: white;
  text-align: center;
}

/*! -----------------------------------------------------------------*/
/* footer {
  width: 100%;
  height: min-content;
  position: sticky;
} */
